<h2>Authorization</h2>

<p><%= @client.name %> wants to access your data.</p>

<form action="/authorize" method="POST">
    <input type="submit" value="Don't authorize" />
    <input type="submit" value="Authorize" />
</form>