<h2>Authorization</h2>

<p><%= @client.name %> wants to access your data.</p>

<%= form_for @changeset, "/authorize", fn f -> %>
    <input type="submit" value="Don't authorize" />
    <input type="submit" value="Authorize" />
<% end %>
